MTOPUP/App_WebReferences/sms/smservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://laotel.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://laotel.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://laotel.com/">
      <s:element name="SubmitSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="header" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitSMSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitSMS" />
  </wsdl:message>
  <wsdl:message name="SubmitSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="smserviceSoap">
    <wsdl:operation name="SubmitSMS">
      <wsdl:input message="tns:SubmitSMSSoapIn" />
      <wsdl:output message="tns:SubmitSMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="smserviceSoap" type="tns:smserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitSMS">
      <soap:operation soapAction="http://laotel.com/SubmitSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="smserviceSoap12" type="tns:smserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitSMS">
      <soap12:operation soapAction="http://laotel.com/SubmitSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="smservice">
    <wsdl:port name="smserviceSoap" binding="tns:smserviceSoap">
      <soap:address location="http://10.30.6.95:5672/smservice.asmx" />
    </wsdl:port>
    <wsdl:port name="smserviceSoap12" binding="tns:smserviceSoap12">
      <soap12:address location="http://10.30.6.95:5672/smservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>